@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Roboto:wght@400;500;700;900&family=Rubik:wght@500;700&family=Work+Sans:wght@300;500;600;700;800;900&display=swap');

:root{
    --cor-principal: #ada695;
    --cor--secundaria: #3f3725;
    --cor-textos: rgb(224, 236, 245);
    --cor-textos-secundario: #013f38;

    --font-principal: 'Roboto', sans-serif;
    --font_unipeblack: 'Work Sans', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-principal);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--cor-principal);
}
main{
    margin-bottom: 2rem;
}

/* MENUS DE NAVEGAÇÃO */

::-webkit-scrollbar{
    width: 10px;
    background-color: rgb(98, 97, 97);
} 

::-webkit-scrollbar-thumb{
    border-radius: 40px;
    width: 10px;
    background-color: var(--cor-textos-secundario);
}

.container_nav{
    overflow: hidden;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cor--secundaria);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_lista{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}

/* FORMATAÇÃO DE TODOS OS TEXTOS DENTRO DE UMA LISTA */
li > a {
    letter-spacing: 2px;
    font-family: var(--font-principal);
    cursor: pointer;
    font-size: 18px;
    color: var(--cor-textos);
    text-decoration: none;
    position: relative;
}

a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--cor-textos);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s ease-in-out;

}

a:hover::after{
    width: 100%;
}

/* CONTEUDO PRINCIPAL */

.container{
    height: 90vh;
    margin: 0px 250px;
}

/* PRIMEIRA TELA */

.primario{
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.titulo__conteudoum{
    color: var(--cor-textos-secundario);
    font-size: 48px;
    font-weight: 900;
    font-family: var(--font_unipeblack);
    text-transform: uppercase;
}
.descricao__conteudoum{
    font-size: 21px;
}

.bolo_img{
    width: 35vw;
}
.container__conteudoum{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.btn_conteudoum{
    letter-spacing: 1px;
    text-align: center;
    width: 180px;
    background-color: var(--cor-textos-secundario);
    color: var(--cor-textos);
    text-decoration: none;
    border-radius: 25px;
    padding: 14px 16px;

}

/* PAGINA ENTRADAS */

.secundario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;

}

.titulo__entrada{  
    color: var(--cor-textos-secundario);
    font-size: 32px;
    font-weight: 600;
    font-family: var(--font_unipeblack);
    text-transform: uppercase;
}

.entrada_titulo{
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
hr{
    height: 2px;
    width: 75px;
    background-color: var(--cor-textos);
    border: none;
}

.entrada__conteudo{
    margin-top: 5rem;
    display: flex;
    gap:3rem;
}

/* CARDS CONTEUDOS */
.card_entrada{
    width: 280px;
    background-color: rgb(240, 242, 222);
    border-radius: 15px;
    box-shadow: 0px 2px 18px rgba(68, 80, 83, 0.153);
}
/* TITULO CARD */
.card__titulo{
    text-transform: uppercase;
    margin: 15px;
}
/* IMAGENS CARD ENTRADA */

#entrada__queijobrie{
    background: url('https://d3ugyf2ht6aenh.cloudfront.net/stores/001/292/827/products/ultima-21-8355c5d93a3254342816177324825992-1024-1024.jpg') center/cover;
    height: 200px;
    width: 100%;
}

#entrada__coquetelcamarao{
    background: url('https://www.receiteria.com.br/wp-content/uploads/coquetel-de-camarao-01.jpg') center/cover;
    height: 200px;
    width: 100%;
}

#entrada__bruschetta{
    background: url('https://espetinhodesucesso.com.br/wp-content/uploads/2018/03/receitas-de-entradas-f%C3%A1ceis-bruschetta.jpg.webp') center/cover;
    height: 200px;
    width: 100%;
}



/* RODAPÉ CARD */

.entrada__rodape{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.tempo_card{
    display: flex;
    align-items: center;
    gap: 0.5rem;    
}


.botao_card{
    color:var(--cor-textos);
    background-color: var(--cor-textos-secundario);
    border-radius: 12px;
    padding: 10px 12px;
    cursor: pointer;
}

.botao_card:hover{
    background-color:#016055;;
    transition: 0.3s;
}

/* FINAL CARDS */

.entrada_sobre{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.entrada_sobre > p {
    text-align: center;
}

/* PRATOS PRINCIPAIS */

#principal__risoto{
    background: url('https://www.receiteria.com.br/wp-content/uploads/risoto-de-camarao-14.jpg') center/cover;
    height: 200px;
    width: 100%;
}

#principal__parmegiana{
    background: url('https://img.cybercook.com.br/receitas/484/file-a-parmegiana-do-chef-1.jpeg') center/cover;
    height: 200px;
    width: 100%;
}


/* SOBREMESA */

#sobremesa__pudim{
    background: url('https://vovopalmirinha.com.br/wp-content/uploads/2016/06/pudim-1.jpg') center/cover;
    height: 200px;
    width: 100%;
}

#sobremesa_petit{
    background: url('https://www.sabornamesa.com.br/media/k2/items/cache/3f6beb4ab529bb7b00ce1447aa996693_XL.jpg') center/cover;
    height: 200px;
    width: 100%;
}

#sobremesa_mousse{
    background: url('https://anamariabraga.globo.com/wp-content/uploads/2019/06/mousse-de-maracuja-facil-e-pratica.jpg') center/cover;
    height: 200px;
    width: 100%;
}

/* RECEITAS TELAS */


.receitas{
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.titulo__receitas{
    font-family: 'Rubik', sans-serif;
    align-items: flex-start;
}

.textoi__receitas{
    color: var(--cor-textos-secundario);
    font-size: 48px;
    text-transform: uppercase;
}

.subtitulo__receitas{
    color: #444444;
    font-weight: 400;
}
.conteudo__receitas{
    width: 70vw;
    background-color: rgb(240, 242, 222);
    border-radius: 15px;
    box-shadow: 0px 2px 18px rgba(68, 80, 83, 0.153);

}
.titulo_conteudo_receitas{
    margin: 10px;
    color: var(--cor-textos-secundario);
    text-transform: uppercase;
    font-size: 28px;
}

#imagem__parmegiana{
    background: url('https://truffle-assets.tastemadecontent.net/84cnzp0itw1q_71sXrMol1e46SIqICwiuQO_queijo-brie-na-massa-folhada_landscapeThumbnail_en-US.jpeg') center/cover;
    height: 300px;
    width: 100%;
}

.ingredientes_titulo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0px;

}

.titulo_ingredientes_card{
    text-align: center;
    color: var(--cor-textos-secundario);
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

.ingredientes__receitas{
    gap: 2rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/* LINHHAS  */
.linha{
    display: flex;
    justify-content: center;
}
#divisao{
    height: 2px;
    background-color: black;
    width: 60vw;
    border: none;
}

/* MODO DE PREPARO */

.mododepreparo{
    margin: 1rem 0px;
    text-align: center;
    color: var(--cor-textos-secundario);
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

.preparo__sequencia{
    margin: 1rem 10rem 1rem 14rem;
}
.listadepreparo > li{
    margin: 1rem 0px;
}